body, html, *{
    margin: 0 !important;
    overflow: hidden;
}

#Afreeca{
    width: 100.1%;
    height: 100.1%;
    position: absolute;
    top: -0.2%;
    left: -0.2%;
    margin: 0;
    padding: 0;
}

#Twitch{
    width: 25%;
    height: 27.9%;
    position: absolute;
    left: 69.75%;
    top: 23%;
}